{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} asdf {% endblock %}
{% block scriptHeader %}
    <!--STYLESHEET-->
    <link type="text/css" rel="stylesheet" href="{% static 'webpage/libraries/3dhop/stylesheet/3dhop.css' %}"/>
    <!--SPIDERGL-->
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/js/spidergl.js' %}"></script>

    <!--PRESENTER-->
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/js/presenter.js' %}"></script>
    <!--3D MODELS LOADING AND RENDERING-->
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/js/nexus.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/js/ply.js' %}"></script>
    <!--TRACKBALLS-->
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/js/trackball_sphere.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/js/trackball_turntable.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/js/trackball_turntable_pan.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/js/trackball_pantilt.js' %}"></script>
    <!--UTILITY-->
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/js/init.js' %}"></script>

    <!--OpenSeadragon-->
    <script type="text/javascript" src="{% static 'webpage/libraries/openseadragon/openseadragon.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="card procustom-panel-create">
        <div class="card-header procustom-panel-heading">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                        <h2>
                            <a href="{% url 'dobjects:digitalcontainer_detail' pk=object.get_prev %}">
                                <i class="fas fa-chevron-left" title="previous"></i>
                            </a>
                        </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                         {{ object }}
                        {% if user.is_authenticated %}
                            <small>
                                <a href="{% url 'dobjects:digitalcontainer_edit' pk=object.id %}">
                                    <i class="far fa-edit" title="edit"></i>
                                </a>
                            </small>
                            |
                            <small>
                                <a href="{% url 'dobjects:digitalcontainer_delete' pk=object.id %}">
                                   <i class="far fa-trash-alt" title="delete"></i>
                                </a>
                            </small>
                        {% endif %}
                    </h1>
                </div>
                <div class="col-md-2">
                    <h2>
                        {% if object.get_next %}
                        <a href="{% url 'dobjects:digitalcontainer_detail' pk=object.get_next %}" style="float:right">
                            <i class="fas fa-chevron-right" title="next"></i>
                        </a>
                    </h2>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <legend>
                        Images
                    </legend>
                    {% for x in imgs %}
                        <li>
                            <a href="{{ x.acdh_id }}?format=raw">{{ x }}</a>
                        </li>
                    {% endfor %}
                    <legend>
                        Illustrations
                    </legend>
                    {% for x in illustrations %}
                        <li>
                            {{ x }}
                        </li>
                    {% endfor %}
                    <legend>
                        3D Data
                    </legend>
                    {% for x in threeds %}
                        <li>
                            {{ x }}
                        </li>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <table class="table">
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "folder_name" %}</th>
                                <td>
                                    {{ object.folder_name }}
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "id_inv_nr" %}</th>
                                <td>
                                    {{ object.id_inv_nr }}
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "bapd_nr" %}</th>
                                <td>
                                    {{ object.bapd_nr }}
                                </td>
                            </tr>
                            {% if object.related_object.all %}
                                <tr>
                                    <th>{% get_verbose_name digitalcontainer "related_object" %}</th>
                                    <td>
                                        {% for x in object.related_object.all %}
                                            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                        {%  endfor  %}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "period" %}</th>
                                <td>
                                    <a href="{{ object.period.get_absolute_url }}">{{ object.period }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "located_at" %}</th>
                                <td>
                                    <a href="{{ object.located_at.get_absolute_url }}">{{ object.located_at }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "fabric" %}</th>
                                <td>
                                    {% for x in object.fabric.all %}
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    {%  endfor  %}
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "painting_style" %}</th>
                                <td>
                                    {% for x in object.painting_style.all %}
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    {%  endfor  %}
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "painting_sub_technique" %}</th>
                                <td>
                                    {% for x in object.painting_sub_technique.all %}
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    {%  endfor  %}
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "formating_technique" %}</th>
                                <td>
                                    {% for x in object.formating_technique.all %}
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    {%  endfor  %}
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "formating_technique" %}</th>
                                <td>
                                    {% for x in object.formating_technique.all %}
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    {%  endfor  %}
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "pl_find" %}</th>
                                <td>
                                    <a href="{{ object.pl_find.get_absolute_url }}">{{ object.pl_find }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "pl_find_cert" %}</th>
                                <td>
                                    {{ object.pl_find_cert }}
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "pl_prod_center" %}</th>
                                <td>
                                    <a href="{{ object.pl_prod_center.get_absolute_url }}">{{ object.pl_prod_center }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "prov_attr_artist" %}</th>
                                <td>
                                    {{ object.prov_attr_artist }}
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "pl_acq" %}</th>
                                <td>
                                    <a href="{{ object.pl_acq.get_absolute_url }}">{{ object.pl_acq }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "cva_ref" %}</th>
                                <td>
                                    {{ object.cva_ref }}
                                </td>
                            </tr>
                            <tr>
                                <th>{% get_verbose_name digitalcontainer "collection_reference" %}</th>
                                <td>
                                    <a href="{{ object.collection_reference }}">{{ object.collection_reference }}</a>
                                </td>
                            </tr>
                    </table>
                    <hr/>
                    <legend>Measurements</legend>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>{% get_verbose_name digitalcontainer "weight" %}</th>
                            <td>
                                {{ object.weight }}
                            </td>
                        </tr>
                        <tr>
                            <th>{% get_verbose_name digitalcontainer "height" %}</th>
                            <td>
                                {{ object.height }}
                            </td>
                        </tr>
                        <tr>
                            <th>{% get_verbose_name digitalcontainer "width" %}</th>
                            <td>
                                {{ object.width }}
                            </td>
                        </tr>
                        <tr>
                            <th>{% get_verbose_name digitalcontainer "length" %}</th>
                            <td>
                                {{ object.length }}
                            </td>
                        </tr>
                        <tr>
                            <th>{% get_verbose_name digitalcontainer "filling_height" %}</th>
                            <td>
                                {{ object.filling_height }}
                            </td>
                        </tr>
                        <tr>
                            <th>{% get_verbose_name digitalcontainer "filling_volume" %}</th>
                            <td>
                                {{ object.filling_volume }}
                            </td>
                        </tr>
                        <tr>
                            <th>{% get_verbose_name digitalcontainer "material_volume" %}</th>
                            <td>
                                {{ object.material_volume }}
                            </td>
                        </tr>
                        <tr>
                            <th>{% get_verbose_name digitalcontainer "material_density" %}</th>
                            <td>
                                {{ object.material_density }}
                            </td>
                        </tr>
                        <tr>
                            <th>{% get_verbose_name digitalcontainer "outer_volume" %}</th>
                            <td>
                                {{ object.outer_volume }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3">
                    some notes
                </div>
            </div>

            <div id="binaries" class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="threed-tab" data-toggle="tab" href="#threed" role="tab" aria-controls="threed" aria-selected="true">3D-Viewer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="IIIF-tab" data-toggle="tab" href="#IIIF" role="tab" aria-controls="IIIF" aria-selected="false">Image-Viewer</a>
                    </li>

                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="threed" role="tabpanel" aria-labelledby="threed-tab">
                        <div id="3dhop" class="tdhop" onmousedown="if (event.preventDefault) event.preventDefault()">
                            <div id="toolbar">
                                <img id="home"     title="Home"                  src="{% static 'webpage/libraries/3dhop/skins/dark/home.png' %}"   /><br/>
                                <img id="zoomin"   title="Zoom In"               src="{% static 'webpage/libraries/3dhop/skins/dark/zoomin.png' %}" /><br/>
                                <img id="zoomout"  title="Zoom Out"              src="{% static 'webpage/libraries/3dhop/skins/dark/zoomout.png' %}"/><br/>
                                <img id="light_on" title="Disable Light Control" src="{% static 'webpage/libraries/3dhop/skins/dark/light_on.png' %}" style="position:absolute; visibility:hidden;"/>
                                <img id="light"    title="Enable Light Control"  src="{% static 'webpage/libraries/3dhop/skins/dark/light.png' %}"/><br/>
                                <img id="full_on"  title="Exit Full Screen"      src="{% static 'webpage/libraries/3dhop/skins/dark/full_on.png' %}" style="position:absolute; visibility:hidden;"/>
                                <img id="full"     title="Full Screen"           src="{% static 'webpage/libraries/3dhop/skins/dark/full.png' %}"   />
                            </div>
                            <canvas id="draw-canvas"/>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="IIIF" role="tabpanel" aria-labelledby="IIIF-tab">
                        <div id="example-xmlhttprequest-for-info-json" class="openseadragon" style="width: 100%; height: 400px">
                            <script type="text/javascript">
                                OpenSeadragon({
                                    id:            "example-xmlhttprequest-for-info-json",
                                    prefixUrl:     "{% static 'webpage/libraries/openseadragon/images/' %}",
                                    sequenceMode:  true,
                                    tileSources:   [
                                        "https://loris.acdh.oeaw.ac.at/uuid%3A%2Fuuid%2F53461a64-51f2-517e-c9f4-16b8dae4eea9/info.json",
                                        // "https://id.acdh.oeaw.ac.at/glasersqueezes2015/rec1110000910/AT-OeAW-BA-3-27-A-A845_analyse00.png?format=iiif",
                                        "https://libimages1.princeton.edu/loris/pudl0001%2F4609321%2Fs42%2F00000002.jp2/info.json",
                                        "https://libimages1.princeton.edu/loris/pudl0001%2F4609321%2Fs42%2F00000003.jp2/info.json",
                                        "https://libimages1.princeton.edu/loris/pudl0001%2F4609321%2Fs42%2F00000004.jp2/info.json",
                                        "https://libimages1.princeton.edu/loris/pudl0001%2F4609321%2Fs42%2F00000005.jp2/info.json",
                                        "https://libimages1.princeton.edu/loris/pudl0001%2F4609321%2Fs42%2F00000006.jp2/info.json",
                                        "https://libimages1.princeton.edu/loris/pudl0001%2F4609321%2Fs42%2F00000007.jp2/info.json"
                                    ]
                                });
                            </script>
                            <noscript>
                                <p>OpenSeadragon is not available unless JavaScript is enabled.</p>
                                <img src='/example-images/highsmith/01967v.jpg'
                                     height='600'/>
                            </noscript>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts2 %}
<script type="text/javascript">
    var presenter = null;
    function setup3dhop() {
        presenter = new Presenter("draw-canvas");
        var meshUrl = "{% static 'webpage/libraries/3dhop/models/KHM-ANSA-IV1_3D02.ply' %}";
        presenter.setScene({
            meshes: {
                "3dmodel" : { url: meshUrl }
            },
            modelInstances : {
                "Model1" : { mesh : "3dmodel" }
            }
        });
    }

    function actionsToolbar(action) {
        if(action=='home') presenter.resetTrackball();
        else if(action=='zoomin') presenter.zoomIn();
        else if(action=='zoomout') presenter.zoomOut();
        else if(action=='light' || action=='light_on') { presenter.enableLightTrackball(!presenter.isLightTrackballEnabled()); lightSwitch(); }
        else if(action=='full'  || action=='full_on') fullscreenSwitch();
    }

    $(document).ready(function(){
        init3dhop();
        setup3dhop();
        resizeCanvas(1200,800);
        moveToolbar(2,2);
    });
</script>
{% endblock scripts2 %}
