{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block custom %}

<div class="row">
  <div class="col-md-3" id="left-list">
        {% for x in  object.get_thumbs %}
            <li>
                <img src="{{ x }}" >
            </li>
        {% endfor %}
        <h2>Binaries</h2>
        {% for y in  object.get_binaries %}
            <li>
                <img src="{{ y }}" >
            </li>
        {% endfor %}
    </div>
    <div class="col-md-9">
        <table class="table table-bordered table-hover">
          <tr>
              <th>{% get_verbose_name object "folder_name" %}
                  <span data-toggle="tooltip" data-placement="right" data-html="true" title="{% get_help_text object 'folder_name' %}"> <i data-feather="info"></i></span>
              </th>
              <td>
                  {{ object.folder_name }}
              </td>
          </tr>
          <tr>
              <th>{% get_verbose_name object "located_at" %}</th>
              <td>
                  <a href="{{ object.located_at.get_absolute_url }}">{{ object.located_at }}</a>
              </td>
          </tr>
          <tr>
              <th>{% get_verbose_name object "id_inv_nr" %}</th>
              <td>
                  {{ object.id_inv_nr }}
              </td>
          </tr>
          <tr>
              <th>{% get_verbose_name object "bapd_nr" %}</th>
              <td>
                  {{ object.bapd_nr }}
              </td>
          </tr>
          <tr>
              <th>{% get_verbose_name object "period" %}</th>
              <td>
                  <a href="{{ object.period.get_absolute_url }}">{{ object.period }}</a>
                  {% if object.period.get_dates_str %}
                  ({{ object.period.get_dates_str }})
                  {% endif %}
              </td>
          </tr>


            {% for x in object.field_dict %}
                <tr>
                    <th>
                        {% if x.help_text %}
                            <abbr title="{{ x.help_text }}">{{ x.verbose_name }}</abbr>
                        {% else %}
                            {{ x.verbose_name }}
                        {% endif %}
                    </th>
                    <td>
                        {% if x.f_type == 'M2M' %}
                            {% for y in x.value %}
                                <li>
                                    <a href="{{ y.get_absolute_url }}">{{ y.legacy_id }}</a>
                                </li>
                            {% endfor %}
                        {% elif  x.f_type == 'FK' %}
                            <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
                        {% elif  x.f_type == 'FK' %}
                            <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
                        {% elif  x.f_type == 'SIMPLE' %}
                            {{ x.value }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
      </div>
    </div>
{% endblock custom %}
