{% extends "browsing/generic_detail.html" %}
{% load static %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% load vases_extras %}
{% block title %}{{ object }}{% endblock %}
{% block custom %}
{% leaflet_js %}
{% leaflet_css %}


<!-- 3DHOP -->
    <!--STYLESHEET-->
    <link type="text/css" rel="stylesheet" href="{% static 'webpage/libraries/3dhop/minimal/stylesheet/3dhop.css' %}"/>
    <!--SPIDERGL-->
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/minimal/js/spidergl.js' %}"></script>

    <!--PRESENTER-->
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/minimal/js/presenter.js' %}"></script>
    <!--3D MODELS LOADING AND RENDERING-->
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/minimal/js/nexus.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/minimal/js/ply.js' %}"></script>
    <!--TRACKBALLS-->
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/minimal/js/trackball_sphere.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/minimal/js/trackball_turntable.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/minimal/js/trackball_turntable_pan.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/minimal/js/trackball_pantilt.js' %}"></script>
    <!--UTILITY-->
    <script type="text/javascript" src="{% static 'webpage/libraries/3dhop/minimal/js/init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/three@latest/build/three.min.js"></script>
    <script crossorigin src="https://unpkg.com/@acdh/network-visualization@0/lib/network-visualization.umd.js"></script>
    <script src="{% static 'netvis/js/netvis.js' %}"></script>

<div class="row">
  <div class="col-md-4" id="left-list">
    <div class="card">
        <div class="card-body">
      <!--  {% for x in  object.get_thumbs %}
            <li>
                <img src="{{ x }}" >
            </li>
        {% endfor %}-->
        <h3>3D Model</h3>
      {% get_item_by_type object '3Dscan_lowRes-data' as items %}
      {% if items %}
        <div>
          <div id="3dhop" class="tdhop" onmousedown="if (event.preventDefault) event.preventDefault()">
            <div id="toolbar">
                <img id="home" title="Home" src="{% static 'webpage/libraries/3dhop/minimal/skins/dark/home.png' %}"/><br/>
                <img id="zoomin" title="Zoom In" src="{% static 'webpage/libraries/3dhop/minimal/skins/dark/zoomin.png' %}"/><br/>
                <img id="zoomout" title="Zoom Out" src="{% static 'webpage/libraries/3dhop/minimal/skins/dark/zoomout.png' %}"/><br/>
                <img id="light_on" title="Disable Light Control" src="{% static 'webpage/libraries/3dhop/minimal/skins/dark/light_on.png' %}" style="position:absolute; visibility:hidden;"/>
                <img id="light" title="Enable Light Control" src="{% static 'webpage/libraries/3dhop/minimal/skins/dark/light.png' %}"/><br/>
                <img id="full_on" title="Exit Full Screen" src="{% static 'webpage/libraries/3dhop/minimal/skins/dark/full_on.png' %}" style="position:absolute; visibility:hidden;"/>
                <img id="full" title="Full Screen" src="{% static 'webpage/libraries/3dhop/minimal/skins/dark/full.png' %}"/>
            </div>
            <!-- be sure to delete width and height setting from 3dhop.css #draw-canvas -->
            <canvas id="draw-canvas" style="min-height: 350px;"/>
          </div>
        </div>
        {% with newMeshUrl=items.0  %}
          <script type="text/javascript">
              var presenter = null;
              function setup3dhop() {
                  presenter = new Presenter("draw-canvas");
                  var meshUrl = "{{ newMeshUrl }}"
                  presenter.setScene({
                      meshes: {
                          "3dmodel" : { url: meshUrl }
                      },
                      modelInstances : {
                          "Model1" : { mesh : "3dmodel" }
                      }
                  });
              }
              function actionsToolbar(action) {
                  if(action=='home') presenter.resetTrackball();
                  else if(action=='zoomin') presenter.zoomIn();
                  else if(action=='zoomout') presenter.zoomOut();
                  else if(action=='light' || action=='light_on') { presenter.enableLightTrackball(!presenter.isLightTrackballEnabled()); lightSwitch(); }
                  else if(action=='full'  || action=='full_on') fullscreenSwitch();
              }

              $(document).ready(function(){
                  init3dhop();
                  setup3dhop();
                  moveToolbar(0,5);
              });
          </script>
        {% endwith %}
      {% else %}
        <p>No 3D model available for this object.</p>
      {% endif %}
      <hr />
      <h3>Photos</h3>
      {% get_item_by_type object 'Photo' as photoItems %}
      {% if photoItems %}
        <div id="openseadragon-photo" style="height: 350px;"></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.1/openseadragon.min.js"></script>
        <script type="text/javascript">
            var viewer = OpenSeadragon({
                id: "openseadragon-photo",
                protocol: "http://iiif.io/api/image",
                prefixUrl: "https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.1/images/",
                sequenceMode : true,
                showReferenceStrip: true,
                tileSources: [
                    {% for x in photoItems %}
                        "{{ x }}?PARAM=info.json&format=iiif"{% if not forloop.last %}, {% endif %}
                    {% endfor %}]
            });
        </script>
      {% else %}
        <p>No photos available for this object.</p>
      {% endif %}
      <hr />
      <h3>Illustrations</h3>
      {% get_item_by_type object 'Illustrations' as illItems %}
      {% if illItems %}
      <div id="openseadragon-ill" style="height: 350px;"></div>
      <script type="text/javascript">
          var viewer = OpenSeadragon({
              id: "openseadragon-ill",
              protocol: "http://iiif.io/api/image",
              prefixUrl: "https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.1/images/",
              sequenceMode : true,
              showReferenceStrip: true,
              tileSources: [
                  {% for x in illItems %}
                    {%if '.svg' not in x %}
                      "{{ x }}?PARAM=info.json&format=iiif"{% if not forloop.last %}, {% endif %}
                    {% endif %}
                  {% endfor %}]
          });
      </script>
      {% else %}
        <p>No illustrations available for this object.</p>
      {% endif %}
      <hr />
      <h3>Illustration Panel</h3>
      {% get_item_by_type object 'IllustrationTables' as illtabItems %}
      {% if illtabItems %}
      <div id="openseadragon-illtab" style="height: 350px;"></div>
      <script type="text/javascript">
          var viewer = OpenSeadragon({
              id: "openseadragon-illtab",
              protocol: "http://iiif.io/api/image",
              prefixUrl: "https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.1/images/",
              sequenceMode : true,
              showReferenceStrip: true,
              tileSources: [
                  {% for x in illtabItems %}
                    {%if '.svg' not in x %}
                      "{{ x }}?PARAM=info.json&format=iiif"{% if not forloop.last %}, {% endif %}
                    {% endif %}
                  {% endfor %}]
          });
      </script>
      {% else %}
        <p>No illustrations panel available for this object.</p>
      {% endif %}

      </div>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-responsive table-information table-hover">
       <tbody>
        <tr>
            <th>{% get_verbose_name object "folder_name" %}
                <span data-toggle="tooltip" data-placement="right" data-html="true" title="{% get_help_text object 'folder_name' %}"> <i data-feather="info"></i></span>
            </th>
            <td>
                <a href="{{ object.get_arche_url }}" title="View files on ARCHE">{{ object.folder_name }}<img src="{% static 'webpage/img/arche_icon.svg' %}" class="arche-icon" /></a>
            </td>
        </tr>
        <tr>
            <th><span data-toggle="tooltip" data-placement="right" data-html="true" title="{% get_help_text object 'collection_spec' %}">{% get_verbose_name object "collection_spec" %}</span></th>
            <td>
                {{ object.collection_spec }}, <a href="{{ object.collection_inst.get_absolute_url }}">{{ object.collection_inst }}</a>
            </td>
        </tr>
        <tr>
            <th>{% get_verbose_name object "inv_nr" %}</th>
            <td>
                {{ object.inv_nr }}
            </td>
        </tr>
        <tr>
            <th>{% get_verbose_name object "bapd_nr" %}</th>
            <td>
                {% if  object.bapd_nr == 'nan' %}&ndash;
                {% else %} {{ object.bapd_nr|default:"&ndash" }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{% get_verbose_name object "shape" %}</th>
            <td>
                {% for y in object.shape.all %}
                    <a href="{{ y.get_absolute_url }}">{{ y.shape }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% if object.shape_comp.all.0.shape_comp %}
                  <br/>
                  <small>Components:</small>
                  {% for y in object.shape_comp.all %}
                    <a href="{{y.get_absolute_url }}">{{ y.shape_comp }}</a>{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                {% endif %}
                <br/>
            </td>
        </tr>
        <tr>
            <th>{% get_verbose_name object "period" %}</th>
            <td>
              {% for y in object.period.all %}
                <a href="{{ y.get_absolute_url }}">{{ y.period }}{% if y.get_dates_str %}
                  ({{ y.get_dates_str }}){% endif %}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Object dating</th>
            <td>
              {{ object.get_dating_str }}
            </td>
        </tr>
        <tr>
            <th>Provenance</th>
            <td>
                <small>{% get_verbose_name object "provenance_spot" %}:</small> <a href="{{ object.provenance_spot.get_absolute_url }}">{% if object.provenance_spot.place_name == '(no data entered)' %} &ndash; {% else %}{{ object.provenance_spot }}{% endif %}</a>
                {% if object.provenance_spot_cert %}
                <small>({{ object.provenance_spot_cert.cert_label }} <a href="http://vocab.getty.edu/page/aat/{{ object.provenance_spot_cert.cert_id }}"><i data-feather="external-link"></i></a>)</small>
                {% endif %}
                <br/>
                <small>{% get_verbose_name object "provenance_production" %}:</small> <a href="{{ object.provenance_production.get_absolute_url }}">{% if object.provenance_production.place_name == '(no data entered)' %} &ndash;{% else %}{{ object.provenance_production }}{% endif %}</a>
                {% if object.provenance_production_cert %}
                <small>({{ object.provenance_production_cert.cert_label }} <a href="http://vocab.getty.edu/page/aat/{{ object.provenance_spot_production.cert_id }}"><i data-feather="external-link"></i></a>)</small>
                {% endif %}
                {% if object.prov_attr_artist %}
                  <small>{% get_verbose_name object "provenance_attribution" %}:</small> {{ object.provenance_attribution }}
                {% endif %}
                <br/>
                <small>{% get_verbose_name object "provenance_acquisition" %}:</small>
                  {% for y in object.provenance_acquisition.all %}<a href="{{y.get_absolute_url }}">{% if y.place_name == '(no data entered)' %} &ndash;{% else %}{{ y.place_name }}</a>{% if not forloop.last %}, {% endif %}{% endif %}
                  {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{% get_verbose_name object "culture" %}</th>
            <td>
                {% for y in object.culture.all %}
                    <a href="{{ y.get_absolute_url }}">{{ y }}</a>{% if not forloop.last %}, {% endif %}
                {%  endfor  %}
            </td>
        </tr>
        <tr>
            <th>Material</th>
            <td>
              <small>{% get_verbose_name object "material" %}:</small>
              {% for y in object.material.all %}
                <a href="{{ y.get_absolute_url }}">{{ y }}</a>{% if not forloop.last %}, {% endif %}
              {%  endfor  %}
              <br/>
              <small>{% get_verbose_name object "material_fabric" %}:</small>
              {% for y in object.material_fabric.all %}
                  <a href="{{ y.get_absolute_url }}">{{ y }}</a>{% if not forloop.last %}, {% endif %}
              {%  endfor  %}
            </td>
        </tr>
        <tr>
            <th>Technique</th>
            <td>
                <small>{% get_verbose_name object "painting_style" %}:</small>
                {% for y in object.painting_style.all %}
                    <a href="{{ y.get_absolute_url }}">{{ y }}</a>{% if not forloop.last %}, {% endif %}
                {%  endfor  %}
                <br/>
                <small>{% get_verbose_name object "painting_style_sub" %}:</small>
                {% for y in object.painting_style_sub.all %}
                     <a href="{{ y.get_absolute_url }}">{{ y|default_if_none:"&ndash;" }}</a>{% if not forloop.last %}, {% endif %}
                {% empty %}
                  &ndash;
                {%  endfor  %}
            </td>
        </tr>
        <tr>
            <th>{% get_verbose_name object "bibref" %}</th>
            <td>
              {% if object.bibref == '(no data entered)'%}
                <small>{{ object.bibref }}</small>
              {% else %}
                {{ object.bibref|default_if_none:'&ndash' }}
              {% endif %}
            </td>
        </tr>
        <tr>
            <th>{% get_verbose_name object "collref" %}</th>
            <td>
              {% if object.collref %}
                {% if not object.collref == 'nan' %}
                  <a href="{{ object.collref }}">{{ object.collref }} <i data-feather="external-link"></i></a>
                {% endif %}
              {% else %}
                &ndash;
              {% endif %}
            </td>
        </tr>
        {% if object.object_associated_to_inv.all %}
            <tr>
                <th>{% get_verbose_name object "object_associated_to_inv" %}</th>
                <td>
                    {% for y in object.object_associated_to_inv.all %}
                        <a href="{{ y.get_absolute_url }}">{{ y }} ({{ y.folder_name }})</a>
                    {%  endfor  %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>{% get_verbose_name object "object_notes" %}</th>
            <td>
                {{ object.notes }}
            </td>
        </tr>
        </tbody>
        </table>
      <hr class="hr-detail-view"/>
       <legend>Measurements</legend>
       <table class="table table-responsive table-information table-hover">
        <tbody>
           <tr>
               <th>{% get_verbose_name object "weight" %}</th>
               <td>
                 {% if not object.weight|stringformat:"s" == "NaN" %}
                   {{ object.weight|floatformat:3  }}
                   {% else %}
                     &ndash;
                 {% endif %}
               </td>
           </tr>
           <tr>
               <th>{% get_verbose_name object "height" %}</th>
               <td>
                {% if not object.height|stringformat:"s" == "NaN" %}
                   {{ object.height|floatformat:3  }}
                   {% else %}
                     &ndash;
                 {% endif %}
               </td>
           </tr>
           <tr>
               <th>{% get_verbose_name object "width" %}</th>
               <td>
                {% if not object.width|stringformat:"s" == "NaN" %}
                   {{ object.width|floatformat:3  }}
                   {% else %}
                     &ndash;
                 {% endif %}
               </td>
           </tr>
           <tr>
               <th>{% get_verbose_name object "length" %}</th>
               <td>
                {% if not object.length|stringformat:"s" == "NaN" %}
                   {{ object.length|floatformat:3  }}
                   {% else %}
                     &ndash;
                 {% endif %}
               </td>
           </tr>
           <tr>
               <th>{% get_verbose_name object "fillingheight" %}</th>
               <td>
                 {% if not object.fillingheight|stringformat:"s" == "NaN" %}
                   {{ object.fillingheight|floatformat:3  }}
                   {% else %}
                     &ndash;
                 {% endif %}
               </td>
           </tr>
           <tr>
               <th>{% get_verbose_name object "fillingvolume" %}</th>
               <td>
                 {% if not object.fillingvolume|stringformat:"s" == "NaN" %}
                   {{ object.fillingvolume|floatformat:3  }}
                 {% else %}
                   &ndash;
                 {% endif %}
               </td>
           </tr>
           <tr>
               <th>{% get_verbose_name object "materialvolume" %}</th>
               <td>
                 {% if not object.materialvolume|stringformat:"s" == "NaN" %}
                   {{ object.materialvolume|floatformat:3  }}
                 {% else %}
                   &ndash;
                 {% endif %}
               </td>
           </tr>
           <tr>
               <th>{% get_verbose_name object "materialdensity" %}</th>
               <td>
                 {% if not object.materialdensity|stringformat:"s" == "NaN" %}
                   {{ object.materialdensity|floatformat:3  }}{% if object.materialdensity_measure and not object.materialdensity_measure == 'nan' %} - {{ object.materialdensity_measure }}{% endif %}
                 {% else %}
                   &ndash;
                 {% endif %}
               </td>
           </tr>
           <tr>
               <th>{% get_verbose_name object "boundingbox" %}</th>
               <td>
                 {% if not object.boundingbox|stringformat:"s" == "NaN" %}
                   {{ object.boundingbox|floatformat:3  }}
                 {% else %}
                   &ndash;
                 {% endif %}
               </td>
           </tr>
         </tbody>
       </table>
      {% if object.rvn_threeddata_folder_name_object.all %}
         {% for y in object.rvn_threeddata_folder_name_object.all %}
             <hr class="hr-detail-view"/>
             <legend>3D Models</legend>
             <table class="table table-responsive table-information table-hover">
               <tbody>
                 <tr>
                     <th>Acquisition<small> <br/><a href="{{ y.get_absolute_url }}">more</a></small></th>
                     <td>
                         <small>Location:</small> {% for z in y.threed_location.all %}<a href="{{ z.get_absolute_url }}"> {{ z.inst_name }} {% endfor %}</a> {% if y.threed_location_char %} ({{ y.threed_location_char }}) {% endif %} {% if y.threed_date %} | {{ y.threed_date|date:'m. Y' }} {% endif %}<br/>
                         <small>By:</small> {% for z in y.threed_author.all %}<a href="{{ z.get_absolute_url }}"> {{ z.person_first_name }} {{ z.person_last_name }}</a> ({{ z.person_member_inst }}){% if not forloop.last %}, {% endif %}{% endfor %}<br/>
                         <small>Technique:</small> <a href="{{ y.threed_technique.get_absolute_url }}">{{ y.threed_technique }}</a><br/>
                         <small>Hardware:</small> <a href="{{ y.threed_hardware.get_absolute_url }}">{{ y.threed_hardware }}</a><br/>
                         <small>Characteristics:</small> {{ y.threed_fov }} {% if y.threed_resolution %} | {{ y.threed_resolution }} {% endif %} {% if y.threed_acc %} | {{ y.threed_acc }} {% endif %}<br/>
                         <small>Texture:</small> {{ y.get_threed_texture_acquisition_display }} {% if y.threed_texture_color %}| {{ y.get_threed_texture_color_display }} {% endif %}{% if y.threed_texture_resolution %}| {{ y.threed_texture_resolution }}{% endif %}<br/>
                         <small>Software:</small> {{ y.threed_software }} {% if y.threed_scan_nrs %}, {{ y.threed_scan_nrs }} scans{% endif %}
                     </td>
                 </tr>
                 <tr>
                     <th>Alignment & Merging</th>
                     <td>
                         <small>By:</small> {% for z in y.threed_merging_author.all %}<a href="{{ z.get_absolute_url }}"> {{ z.person_first_name }} {{ z.person_last_name }}</a> ({{ z.person_member_inst }}){% if not forloop.last %}, {% endif %}{% endfor %}{% if y.threed_merging_date %} | {{ y.threed_merging_date|date:'m. Y' }} {% endif %}<br/>
                          <small>Software:</small> {{ y.threed_merging_software }}<br/>
                     </td>
                 </tr>
                 <tr>
                     <th>Post-Processing</th>
                     <td>
                         <small>By:</small> {% for z in y.threed_postproc_author.all %}<a href="{{ z.get_absolute_url }}"> {{ z.person_first_name }} {{ z.person_last_name }}</a> ({{ z.person_member_inst }}){% if not forloop.last %}, {% endif %}{% endfor %}{% if y.threed_postproc_date %} | {{ y.threed_postproc_date|date:'m. Y' }} {% endif %}<br/>
                          <small>Software:</small> {{ y.threed_postproc_software }}<br/>
                          <small>Actions:</small> {{ y.threed_postproc_actions }}<br/>
                          <small>Resulting file:</small> <a href="{{ object.get_arche_url }}/3D-data/3Dscan_merged-data/{{ y.threed_postproc_file }}">{{ y.threed_postproc_file }}<img src="{% static 'webpage/img/arche_icon.svg' %}"  class="arche-icon" /></a><br/>
                     </td>
                 </tr>
                 <tr>
                     <th>Low Resolution Post-Processing</th>
                     <td>
                         <small>By:</small> {% for z in y.threed_postproc_low_author.all %}<a href="{{ z.get_absolute_url }}"> {{ z.person_first_name }} {{ z.person_last_name }}</a> ({{ z.person_member_inst }}){% if not forloop.last %}, {% endif %}{% endfor %}{% if y.threed_postproc_low_date %} | {{ y.threed_postproc_low_date|date:'m. Y' }} {% endif %}<br/>
                          <small>Software:</small> {{ y.threed_postproc_low_software }}<br/>
                          <small>Actions:</small> {{ y.threed_postproc_low_software_actions }}<br/>
                          <small>Resulting file:</small> <a href="{{ object.get_arche_url }}/3D-data/3Dscan_lowRes-data/{{ y.threed_postproc_low_file }}">{{ y.threed_postproc_low_file }}<img src="{% static 'webpage/img/arche_icon.svg' %}"  class="arche-icon" /></a><br/>
                     </td>
                 </tr>
                 <tr>
                     <th>Notes</th>
                     <td>
                         {{ y.threed_notes }}
                     </td>
                 </tr>
               </tbody>
             </table>
        {% endfor %}
      {% endif %}
      {% if object.rvn_illustration_folder_name_object.all or object.rvn_illustrationpanel_folder_name_object.all%}
         <hr class="hr-detail-view"/>
         <legend>Illustrations</legend>
         <table class="table table-responsive table-information table-hover">
           <tbody>
             {% if object.rvn_illustration_folder_name_object.all %}
              {% for y in object.rvn_illustration_folder_name_object.all %}
               <tr>
                   <th>Automated Illustrations<br/><small><a href="{{ y.get_absolute_url }}">more</a></small></th>
                   <td>
                     <small>By:</small> {% for z in y.ill_author.all %}<a href="{{ z.get_absolute_url }}"> {{ z.person_first_name }} {{ z.person_last_name }}</a> ({{ z.person_member_inst }}){% if not forloop.last %}, {% endif %}{% endfor %}{% if y.ill_date %} | {{ y.ill_date|date:'m. Y' }} {% endif %}<br/>
                      <small>Software:</small> {{ y.ill_software }}<br/>
                      <small>Steps:</small> {{ y.ill_software_steps }}<br/>
                      <small>Notes:</small> {{ y.ill_notes }}
                   </td>
               </tr>
              {% endfor %}
            {% endif %}
            {% if object.rvn_illustrationpanel_folder_name_object.all %}
             {% for y in object.rvn_illustrationpanel_folder_name_object.all %}
               <tr>
                   <th>Illustration Panels<br/><small><a href="{{ y.get_absolute_url }}">more</a></small></th>
                   <td>
                     <small>By:</small> {% for z in y.illtab_author.all %}<a href="{{ z.get_absolute_url }}"> {{ z.person_first_name }} {{ z.person_last_name }}</a> ({{ z.person_member_inst }}){% if not forloop.last %}, {% endif %}{% endfor %}{% if y.illtab_date %} | {{ y.illtab_date|date:'m. Y' }} {% endif %}<br/>
                      <small>Software:</small> {{ y.illtab_software }}<br/>
                      <small>Steps:</small> {{ y.illtab_software_steps }}<br/>
                      <small>Notes:</small> {{ y.illtab_notes }}
                   </td>
               </tr>
               {% endfor %}
             {% endif %}
             </tbody>
           </table>
           {% endif %}
           <div id="visualization" style="position: relative; height: 700px; background: #fafafa;"></div>
           <script type="text/javascript">
             showGraph("{% url 'netvis:graph' app_name='vases' model_name='object' pk=object.id %}", "visualization")
           </script>
           <div class="card">
               <div class="card-header">
                   <h4 class="card-title">Im Dokument erwähnte Orte</h4>
               </div>
               <div class="card-body">
                       <script type="text/javascript">

                           function map_init_basic (map, options) {
                                   {% if object.provenance_spot.lat %}
                                       var placeName = "<a href='{{ object.provenance_spot.get_absolute_url }}'>Finding spot: {{ object.provenance_spot.place_name }}</a>"
                                       var lat = "{{ object.provenance_spot.lat }}"
                                       var lng = "{{ object.provenance_spot.lng }}"
                                       L.marker([parseFloat(lat), parseFloat(lng)]).addTo(map)
                                       .bindPopup(placeName)
                                   {% endif %}
                                   {% if object.provenance_production.lat %}
                                       var placeName = "<a href='{{ object.provenance_production.get_absolute_url }}'>Production center: {{ object.provenance_production.place_name }}</a>"
                                       var lat = "{{ object.provenance_production.lat }}"
                                       var lng = "{{ object.provenance_production.lng }}"
                                       L.marker([parseFloat(lat), parseFloat(lng)]).addTo(map)
                                       .bindPopup(placeName)
                                   {% endif %}
                                   {% for x in object.provenance_acquisition.all %}
                                       {% if x.lat %}
                                           var placeName = "<a href='{{ x.get_absolute_url }}'>Latest acquisition: {{ x.place_name }}</a>"
                                           var lat = "{{ x.lat }}"
                                           var lng = "{{ x.lng }}"
                                           L.marker([parseFloat(lat), parseFloat(lng)]).addTo(map)
                                           .bindPopup(placeName)
                                       {% endif %}
                                   {% endfor %}
                               };

                       </script>
                   <div style="padding:0;">

                       {% leaflet_map "yourmap" callback="window.map_init_basic" %}

                   </div>

               </div>
           </div>
      </div>
    </div>
{% endblock custom %}

<!--
  <script type="text/javascript">
      var presenter = null;
      function setup3dhop() {
          presenter = new Presenter("draw-canvas");
          // var meshUrl = "{% static 'webpage/libraries/3dhop/models/KHM-ANSA-IV1_3D02.ply' %}";
          var meshUrl = "{% get_item_by_type object '3Dscan_lowRes-data' as items %}
                  {{ items.0.id }}"
          presenter.setScene({
              meshes: {
                  "3dmodel" : { url: meshUrl }
              },
              modelInstances : {
                  "Model1" : { mesh : "3dmodel" }
              }
          });
      }

      function actionsToolbar(action) {
          if(action=='home') presenter.resetTrackball();
          else if(action=='zoomin') presenter.zoomIn();
          else if(action=='zoomout') presenter.zoomOut();
          else if(action=='light' || action=='light_on') { presenter.enableLightTrackball(!presenter.isLightTrackballEnabled()); lightSwitch(); }
          else if(action=='full'  || action=='full_on') fullscreenSwitch();
      }

      $(document).ready(function(){
          init3dhop();
          setup3dhop();
          moveToolbar(0,5);
      });
  </script>
  -->
