{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block custom %}

<div class="row">
  <div class="col-md-3" id="left-list">
    <legend>Basic Information</legend>
        {% for x in  object.get_thumbs %}
            <li>
                <img src="{{ x }}" >
            </li>
        {% endfor %}
        <h2>Binaries</h2>
        {% for y in  object.get_binaries %}
            <li>
                <img src="{{ y }}" >
            </li>
        {% endfor %}
    </div>
    <div class="col-md-9">
        <table class="table table-bordered table-hover">
            {% for x in object.field_dict %}
                <tr>
                    <th>
                        {% if x.help_text %}
                            <abbr title="{{ x.help_text }}">{{ x.verbose_name }}</abbr>
                        {% else %}
                            {{ x.verbose_name }}
                        {% endif %}
                    </th>
                    <td>
                        {% if x.f_type == 'M2M' %}
                            {% for y in x.value %}
                                <li>
                                    <a href="{{ y.get_absolute_url }}">{{ y.legacy_id }}</a>
                                </li>
                            {% endfor %}
                        {% elif  x.f_type == 'FK' %}
                            <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
                        {% elif  x.f_type == 'FK' %}
                            <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
                        {% elif  x.f_type == 'SIMPLE' %}
                            {{ x.value }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
      </div>
    </div>
{% endblock custom %}
