{% load static %}
<footer class="footer mt-auto py-4">
  <div class="container text-center">
    <div class="row justify-content-md-evenly p-2">
      <div class="col-lg">
        <div>
          <a href="https://www.oeaw.ac.at/acdh/acdh-home">
            <img style="height: 100px;" src="{% static 'webpage/img/acdh-logo-with-text-color.svg' %}" alt="ACDH logo">
          </a>
        </div>
        <div class="text-center p-4">
          ACDH Austrian Centre for Digital Humanities
          <a href="https://acdh.oeaw.ac.at/"><i class="bi bi-box-arrow-up-right"></i><span
              class="visually-hidden">ACDH-Website</span></a><br><a
            href="mailto:acdh-helpdesk@oeaw.ac.at">acdh-helpdesk@oeaw.ac.at</a>
        </div>
      </div>
      <div class="col-lg">
        <div><a href="https://www.oeaw.ac.at/oeai/home"><img style="height: 100px;" src="{% static 'webpage/img/oeai_logo.png' %}"
              alt="OeAI logo"></a></div>
        <div class="text-center p-4">
          Austrian Archaeological Institute
          <a href="https://www.oeaw.ac.at/oeai/home"><i class="bi bi-box-arrow-up-right"></i><span
              class="visually-hidden">OeAI-Website</span></a><br><a href="mailto:oeai@oeaw.ac.at">oeai@oeaw.ac.at</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center fs-4">
    <a href="https://github.com/acdh-oeaw/odeeg" style="text-decoration: none;">
      <i aria-hidden="true" class="bi bi-github"></i>
      <span class="visually-hidden">GitHub repo</span>
    </a>
    | 
    <a href="{% url 'webpage:staticpage' template='imprint' %}" style="text-decoration: none;">Imprint</a>
  </div>
</footer>