body {
  background-color: #fefefe;
}

.highlighted {
    background-color: #e2a38e;
    /** alt: complementary blue and light grey
     #1c9ac4;color: #efefef;
     **/
    padding: 0 0.15rem;
}

.bg-dark * {
  color: #cdcdcd;
  background-color: #444444 !important;
}

.navbar-dark .navbar-nav .nav-link, .navbar.navbar-dark .navbar-search, .navbar.navbar-dark .navbar-social-icon, .navbar.navbar-dark button.navbar-search-icon {
  color: #cdcdcd;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fefefe;
}

#wrapper-footer-full {
  background-color: #444444 !important;
}

a {
    color: #C4461C;
}
.help-block {
	font-size: 0.9em;
}
.create-label {
	font-weight: 700;
}

/*body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.9rem;
    padding-top: 70px;
}*/

h1, h2, h3, h4, h5, h6{
    font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.0rem;
}

header {
    flex: 0 0 auto;
}

nav.navbar {
    color: #f8f9fa;
    background-color: #444444;
}

.navbar {
  border: none;
  padding-bottom: 0;
}

/*#odeeg-logo-navbar {
    width: 8rem;
    min-width: 104px;
    height: auto;
    position: relative;
    bottom: -0.35rem;
}*/

#empty-logo-place {
    width: 7rem;
}

#logo-title-section {
    text-align: left !important;
    font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
    line-height: 1.25rem;
    vertical-align: bottom;
}

#logo-title-section img{
    width: 8em;
    display: inline-block;
    padding-bottom: 0.75em;
    margin-right: 1em;
}

#logo-title-section p{
    display: inline-block;
    margin-bottom: -0.5em !important;
}

#logo-title-section i, #about-header i{
    color: #808080;
}

#user-menu {
  margin-right: 0;
}

/** Carousel **/

/** round icons for myCarousel **/
.carousel-indicators--round li {
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
}

.carousel-indicators .active {
    background-color: #fff;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

.carousel .carousel-inner .carousel-item {
    height: 425px;
}

.carousel-wrapper {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

#homeCarousel {
  margin-right: 30px;
}

.card-inner {
  border: none !important;
  padding: 0 !important;
}

.carousel-wrapper h2{
  font-size: 1.8em;
}

.teaser-text p{
  margin-bottom: 0.1em;
}

#read-more {
  width: 100%;
  text-align: right;
  margin-bottom: 2em;
  font-size: 0.9em;
}

#startsearch-info{
  width: 50%;
  font-size: 0.75em;
  color: #495057;
  padding-left: 0.5em;
}

.entry-top-thumbnail {
    margin: -15px 0 15px;
}

#left-list .card-body, #results .card-body{
  padding: 0;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    padding-left: 0;
    padding-right: 0;
}

#results {
  padding-left: 2em;
}

/** LEFT SEARCH COLUMN **/

#left-list h3{
  font-size: 1.45rem;
}

#left-list h4{
  font-size: 1.25rem;
}

#left-list form legend{
  font-size: 1rem;
}

#left-list form label{
  font-size: 0.9rem;
}

.btn{
  border-radius: 1px;
}

.btn-primary{
  color: #C4461C;
  background-color: transparent;
  border-color: #C4461C;
  border-width: 2px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #C4461C;
  border-color: #C4461C;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(196, 70, 28, 0.5)
}

.form-control, .wpcf7 .wpcf7-validation-errors,
.wpcf7 input[type="color"], .wpcf7 input[type="date"],
.wpcf7 input[type="datetime-local"], .wpcf7 input[type="datetime"],
.wpcf7 input[type="email"], .wpcf7 input[type="file"],
.wpcf7 input[type="month"], .wpcf7 input[type="number"],
.wpcf7 input[type="range"], .wpcf7 input[type="search"],
.wpcf7 input[type="submit"], .wpcf7 input[type="tel"],
.wpcf7 input[type="text"], .wpcf7 input[type="time"],
.wpcf7 input[type="url"], .wpcf7 input[type="week"],
.wpcf7 select, .wpcf7 textarea {
  border-radius: 1px;
}

.form-control:focus,
.wpcf7 .wpcf7-validation-errors:focus,
.wpcf7 input:focus[type=color],
.wpcf7 input:focus[type=date],
.wpcf7 input:focus[type=datetime-local],
.wpcf7 input:focus[type=datetime],
.wpcf7 input:focus[type=email],
.wpcf7 input:focus[type=file],
.wpcf7 input:focus[type=month],
.wpcf7 input:focus[type=number],
.wpcf7 input:focus[type=range],
.wpcf7 input:focus[type=search],
.wpcf7 input:focus[type=submit],
.wpcf7 input:focus[type=tel],
.wpcf7 input:focus[type=text],
.wpcf7 input:focus[type=time],
.wpcf7 input:focus[type=url],
.wpcf7 input:focus[type=week],
.wpcf7 select:focus,
.wpcf7 textarea:focus {
    box-shadow: 0 0 0 .2rem rgba(196, 70, 28, 0.25);
    border-color: #C4461C;
}


/** List view of Objects **/
.list-toggle-buttons{
    text-align: right;
    margin-bottom: 0.4em;
}

.list-toggle-buttons button{
    padding: 0.3rem;
    background: none;
    color: #C4461C;
    font-size: 1.3rem;
    margin-top: -0.45em;
}

.list-toggle-buttons button.focus,
.list-toggle-buttons button:focus {
    outline: 0;
    box-shadow: none;
}

.list-toggle-buttons button.active{
    color: #808080;
}

.list-toggle-buttons button .feather{
  height: 1em;
  margin-top: -4px;
  vertical-align: middle;
  width: 1em;
}

#results-legend {
  font-size: 1rem;
}

#download-option{
  text-align: right;
}

.results-table tr td:first-child{
  padding: 0;
}

.img-thumbnail{
    display: none;
}

th.img-thumbnail{
    display: none !important;
}

div.img-thumbnail{
    width: 110px;
    height: 110px;
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
}

div.img-thumbnail img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 0;
    background: transparent;
}


/** Pagination **/

.pagemarker{
  padding: 5px 10px 5px 10px;
}

.pagemarker-active{
  background-color:#C4461C;
  border-color: #C4461C;
  color: #ffffff;
}

/** Detail view, generic **/

h2 .feather{
  height: 1em;
  margin-top: -4px;
  vertical-align: middle;
  width: 1em;
}

h2 small .feather{
  height: 0.8em;
  width: 0.8em;
}

/**
* styling of detail view of vases
**/

.feather-info {
    color: rgba(0,0,0,.4);
}

.table-information td, .table-information th {
    padding: 0 0 0.3rem 0;
    border: none;
}

.table-information th {
    color: #343a40;
    /*font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;*/
    font-weight: normal;
    font-size: 1rem;
    width: 25%;
}

hr.hr-detail-view {
    border-style: dashed;
    border-color: rgba(0,0,0,.4);
}




/** FOOTER **/

#logo-section{
  max-height: 4em;
}

#oeaw-logo, #ikant-logo{
  max-height: 3em;
}

#acdh-logo{
  height: 3em;
}
