{% extends "base.html" %}
{% load static %}
{% load webpage_extras %}
{% block content %}

  <div class="container col-xxl-8 pt-3">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <figure class="figure"><img src="{% static 'webpage/img/01_KHM-ANSA-IV1441.jpg' %}"
            class="d-block mx-lg-auto img-fluid" alt="KHM Wien, ANSA IV 1441" loading="lazy">
          <figcaption class="pt-3 figure-caption">
            KHM Wien, ANSA IV 1441</figcaption>
        </figure>
      </div>
      <div class="col-lg-6">
        <h1 class="lh-base"><span class="display-2">ODEEG</span><br><span class="display-5">Online database for research
            on the development of vessel shapes and capacities</h1>
        <p class="lead">
          ODEEG is an open-access online database for research on the development of ancient pottery shapes and
          capacities. ODEEG is specially focused on 3D models, filling capacities, metadata, and long term archiving of
          the data, while applying LOD and FAIR principles. It is connected to the wider CVA project.
          Presently, ODEEG includes fine-wear painted vessels, from ancient Greek territories and Cyprus. Whereas the
          period encompasses 10th–4th century BCE, approximately from the Geometric period to the Hellenistic period.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start"><a
            href="{% url 'webpage:staticpage' template='about' %}" type="button"
            class="btn btn-outline-primary btn-lg px-4">Read More</a></div>
      </div>

    </div>
    <div class="text-center p-4">
      <div>
        <h2 class="fs-4">Citing the ODEEG database</h2>
        <blockquote class="blockquote">
          <p>ODEEG (2017-2019). ODEEG. Online Database for research on the development of pottery shapes and capacities.
            Edited by Claudia Lang-Auinger, Vera Moitinho de Almeida, Stefan Spelitz, Martina Trognitz, and Peter
            Andorfer. https://odeeg.acdh.oeaw.ac.at/, accessed <span id="currentDate"></span>.
          </p>
        </blockquote>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var el = document.getElementById("currentDate");
          if (!el) return;

          var formatted = new Date().toLocaleDateString("en-EN", {
            day: "numeric",
            month: "long",
            year: "numeric"
          });

          el.textContent = formatted;
        });
      </script>
    </div>
  </div>

{% endblock %}
<img class="d-block w-100" src="/static/webpage/img/01_KHM-ANSA-IV1441.jpg" alt="KHM Wien, ANSA IV 1441"
  title="KHM Wien, ANSA IV 1441">