{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Resources {% endblock %}
{% block content %}
<div class="container">
    <h2>Publications</h1>
    <div class="res-block">
      <p>
          Some static content
      </p>
    <hr class="hr-detail-view"/>
    </div>
    <h2>Posters</h1>
    <div class="res-block">
      <p>
          Some static content
      </p>
      <hr class="hr-detail-view"/>
    </div>
    <h2>Presentations</h1>
    <div class="res-block">
      <p>
          Some static content
      </p>
      <hr class="hr-detail-view"/>
    </div>
    <h2>Media</h1>
    <div class="res-block">
      <p>
          Some static content
      </p>
      <hr class="hr-detail-view"/>
    </div>
    <h2 >ODeeg Bibliography</h1>
    <div class="res-block">
      <p>
          Explore the Zotero collaborative group library of this project.
      </p>
    </div>
</div>
{% endblock %}
